<p id="notice"><%= notice %></p>

<p>
  <strong>Financial:</strong>
  <%= @financeiro.financial %>
</p>

<%= link_to 'Edit', edit_financeiro_path(@financeiro) %> |
<%= link_to 'Back', financeiros_path %>
