<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<header>
    
    
    
</header>

<body>
 <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
						
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Procurar por chamados &amp; clientes..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
									
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>Você tem 2 novas Mensagens</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-09.jpg" alt="Chris Pratt" />
                                                </div>
                                                <div class="content">
                                                    <p>Desenvolvimento de Novos Módulos</p>
                                                    <span>Chris Pratt, Ontem</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-08.jpg" alt="Bradley Cooper" />
                                                </div>
                                                <div class="content">
                                                    <p>Bem Vindo ao LSTI ERP!</p>
                                                    <span>Bradley Cooper, 1 mês atrás</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">Ver Todas as Mensagens</a>
                                            </div>
                                        </div>
                                    </div>
									
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>Você tem 3 novos chamados</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-wifi-alt"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Intalação Projeto SDWan</p>
													<p>Itaú Ag. 6419 - Vila Tupi PG</p>
                                                    <span class="date"> 9 de novembro de 2018 </span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-money-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Intalação ATM</p>
													<p>CEF Ag. 1233-5 - Marcílio Dias</p>
                                                    <span class="date"> 22 de novembro de 2018 </span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-desktop-windows"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Intalação Projeto Nettop</p>
													<p>Santander Ag. 1761 - Select Gonzaga</p>
                                                    <span class="date"> 3 de dezembro de 2018 </span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">Ver Todos os Chamados</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
										
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Rudney Forti</a>
                                        </div>
										
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
												<!-- DROP PERFIL -->
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Rudney Forti</a>
                                                    </h5>
                                                    <span class="email">rudneyforti@hotmail.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Conta</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Configuração</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Faturamento</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Sair</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->







 <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="LSTI" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    
					<ul class="list-unstyled navbar__list">
                        
						<li>
                         	<a href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
						
						<li>
                            <a href="financeiro.html">
                                <i class="fas fa-university"></i>Financeiro</a>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-wrench"></i>Chamados</a>
							<ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="chamados.html">Painel de Chamados</a>
                                </li>
                                <li>
                                    <a href="calendario.html">Cronograma</a>
                                </li>                                
                            </ul>
                        </li>
						
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->


</body>

